body {
  background:#eee;
  height:100%;
  font-family:sans-serif;
}
.mainHead {
  position:fixed;
  width:100%;
  height:100%;
}
.head {
  height:50px;
  
  font-family:sans-serif;
  position:relative;
  
width: 238px;
height: 84px;
left: 7px;
margin-bottom: 30px;

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;

/* identical to box height */


color: #000000;


}
.head span {
  position:absolute;
  top:60%;
  left:40%;
  transform:translate(-50%,-50%);
  font-size:18px;
  
}
.chat {
  top:50px;
  position:relative;
  z-index:-1;
  bottom:40px;
  margin-bottom:100px;
}
.main {
  overflow-y:auto;
}
.send {
  width:96%;
  position:fixed;
  bottom: 5px;
  background:white;
  display:inline-flex;
  background: #E9E9E9;
  border-radius: 40px;
  margin-left: 10px;
}
.send .txt1 {
  width:100%;
  padding:5px;
  margin:5px;
  color:#00303f;
  font-weight:bold;
  margin-top: -5px;
}
.send .txt1:focus {
  border-color:#00303f;
}
.send .btn1 {
  position: relative;
  width: 163px;
  height: 45px;
  background: #459EDE;
  border-radius: 20px;
  border: 1px solid #459EDE;
  color:rgb(255, 255, 255);
}
.txt {
  
  padding:15px;
  position:relative;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 0px 20px;
}
.txt2 {
  
  align-items: center;
  padding:15px;
  position:relative;
  
  background: rgba(0, 148, 255, 0.2);
  border-radius: 0px 20px 20px 20px;

}
.txt-div {
  margin:5px;
  padding:5px;
  width:80%;
  float:right;
}

.txt-div2 {
  margin:5px;
  padding:10px;
  width:80%;
  float:left;
}
.time {
  font-size:12px;
  
  padding:5px;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 170%;
/* identical to box height, or 24px */


color: #000000;
}
.time2 {
  font-size:12px;
  
  padding:5px;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
/* identical to box height, or 24px */


color: #000000;
}

.bullet{
  margin-top: -20px;
  margin-left: 10px;
}

.send .txt1 {
  font-size: 18px;
  border-radius: 40px;
  border: 1px solid white;
  height: 45px;
  padding-left:20px;
}
